/* THIẾT LẬP BODY CHO THUỐC MEN */
.News-Table{
	background: red;
	margin-top: 5px;
}
.News-Table-slidebar{
	float: left;
	background: blue;
	width: 200px;
	height: 700px;
}
.News-Table-main{
	background: yellow;
	width: 1100px;
	height: 700px;
}

.News-Table-container{
	background: green;
	width: 1100px;
	height: 700px;
	margin-left: 50px;
}

.News-Table-post{
	float: left;
	width: 420px;
	background: blue;
	display: block;
	margin: 5px;
}
.page-container{
	margin-left: 600px;
}